@media all and (max-width:767px){
    .filter-sec{
        padding: 0 !important;
    }

    .blog-sec{
        padding: 0 !important;
    }
}

.filter-sec{
    padding: 0 5px 0 0;
}

.blog-sec{
    padding: 0 0 0 5px;

}

.blog-big-block{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    margin-bottom: 10px;
}

.blog-image{
    float: left;
    width: 300px;
}

.blog-info{
    overflow: hidden;
    padding-left:10px;
}

.blog-info .blog-title{
    padding-bottom: 3px;
    border-bottom: 1px solid #b1b1b1;
}

.blog-info .blog-title a{
    text-decoration: none;
    font-family: Arimo;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}
.blog-info .blog-title a:hover{
    color: #308C01;
    -webkit-transition: color 400ms linear;
    -ms-transition: color 400ms linear;
    transition: color 400ms linear;
}

.blog-image:hover a{
    max-height: 700px;

}
.blog-image{
    overflow: hidden;
}

.blog-image a img{
    width: 100%;
    height: 100%;
    -webkit-transition: transform 400ms ease-in-out;
    -ms-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
}

.blog-image a img:hover{
    transform: scale(1.2);

}

.blog-image a{
    width: 100%;
    display: block;
}

.filter-block{
    padding: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter-block form{
    overflow: hidden;
}

#txtsearch-blog{
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
}

#txtsearch-blog:focus ~ #btn-search-blog{
    background-color: #308C01;

}

#btn-search-blog{
    width: 38px;
    height: 38px;
    background-color: white;
    border: none;
    position: relative;
    -webkit-transition: background-color 400ms ease-in-out;
    -ms-transition: background-color 400ms ease-in-out;
    transition: background-color 400ms ease-in-out;
    top: -41px;
    left: 252px;
}