.body-content{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
}

.message-content{
    background-color: #cdcdcd;
    display: block;
    border-radius: 10px;
    padding: 20px;
}

.message-content p{
    margin-bottom: 5px;
}

.message-title{
    color: #308C01;
    font-size: 24px;
    font-family: Arimo;
    font-weight: bold;
}

.message-body p{
    font-size: 14px;
    font-family: Arimo;
}

.message-body #ending-body{
    font-weight: bold;
}

.redirect-10-sec{
    text-align: center;
}