/* vietnamese */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v11/eSHy7hCA8QR4qTF-59v60g.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v11/V41d6938Z8eBLYL302F8Ig.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v11/HNu4Nzh6q8Es60EMNZhs9w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
body,html{
    padding: 0;
    margin: 0;
}

.header-email-token{
    height: 150px;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-email-token{
    text-align: center;
    color: white;
    font-family: Arimo;
}

.title-email-token p{
    font-size: 14px;
}

.title-email-token h2{
    font-size: 28px;
    font-weight: bold;
}

.logo-image img{
    width: 100px;
    height: 100px;
}

.body-email-token{
    text-align: center;
}

.body-email-token h4{
    font-weight: bold;
    font-family: Arimo;
    font-size: 25px;
    color: #308C01;
}

.body-email-token p:first-of-type{
    font-family: Arimo;
    font-size: 16px;
}