body{
    padding: 0;
    margin: 0;
}

.error-page{
    width: 90%;
    margin: auto;
    text-align: center;
}

.logo-error{
    padding-top: 50px;
}

.logo-error p{
    font-family: Lato;
    font-weight: bold;
    font-size: 25px;
    color: #8b8b8b;
}

.error-message p{
    font-family: Lato;
    color: #308C01;
    font-size: 40px;
}